:root {
  --highlight: #141926;
  --primary: #129fc0;
  --off-white: #f6f6f6;
  --sans: "Noto Sans JP", sans-serif;
  --border-radius: 5px;
}

body {
  font-family: var(--sans);
  margin: 0px;
  background-color: var(--off-white);
}

.nav {
  width: 100vw;
  height: 150px;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .logo {
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.content {
  border-radius: 3px;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 9%);
  width: 1200px;
  padding: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
  margin-bottom: 42px;
  background-color: var(--off-white);
}

.price-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 1200px;
}

.price-grid > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: fit-content;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary);
}

.price-grid > .item > .details {
  text-align: center;
  padding: 15px 15px 30px 15px;
}

.price-grid > .item > .details > .title {
  font-size: 1.5rem;
  color: var(--primary);
  font-size: 700;
}

.price-grid > .item > .banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

@media (max-width: 48em) {
  .content {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .price-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
